@model IEnumerable<Book>

@{
    ViewData["Title"] = "Інтернет-магазин книгарня";
}

<h1>Ласкаво просимо до нашого магазину!</h1>

<p>Перегляньте наш каталог книг:</p>

<a href="@Url.Action("Catalog", "Book")" class="btn btn-success btn-lg">Перейти до каталогу</a>