@{
    Layout = "_Layout";
    ViewData["Title"] = "Оплата успішна";
}

<h1>Оплата успішна!</h1>
<p>@ViewBag.Message</p>

<p>
    <a href="https://localhost:7266/Order/Finish" class="btn btn-primary">Перейти до фіналу</a>
</p>

