@{
    Layout = "_Layout";
    ViewData["Title"] = "Оплата успішна";
}

<h1>Оплата успішна!</h1>
<p>@ViewBag.Message</p>

<p>
    <a href="@Url.Action("Index", "Home", new { area = "" })" class="btn btn-primary">Повернутися до магазину</a>
</p>
