@{
    ViewData["Title"] = "Замовлення оформлено";

}

<p>
    Замовлення оформлене. Ми збираємо його, щоб передати до служби доставки. 
   Чекайте на SMS.
</p>

<p>
    <a href="@Url.Action("Index", "Home")">Повернутися до магазину</a>
</p>